*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000b3;
    padding: 10px;

}

.logo{
    color: #fff;
    flex: 1;
    margin-left: 20px;
}

nav{
    flex: 5;
    justify-content: right;
    display: block;
}

.navbar-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar-link{
    transition: all 0.4s ease;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 40px;
}

.navbar-link:hover{
    transition: all 0.4s ease;
    color: #9999ff;
}

.current{
    font-weight: bold;
}

.introduction{
    background: linear-gradient(to right, #636363, #c9c9c9);
    display: flex;
    margin: 10px 10px;
    height: 50vh;
    border-radius: 2rem;
    align-items: center;
    justify-content:space-evenly;
}

.intro-wrapper{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    align-items: left;
    justify-content: center;
}

.intro-title{
    font-size: 32px;

    background: linear-gradient(to right, #00f, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.intro-text{
    font-size: 20px;
}

.intro-img{
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-img img{
    transition: all 0.3s ease;
    height: 90%;
    margin: 10px 10px;
    border-radius: 2rem;
}

.intro-img img:hover{
    transition: all 0.3s ease;
    transform: scale(1.025);
}